<launch>
	<!-- controller working in simulation mode -->
	<node pkg="n1ctrl" type="n1ctrl_node" name="n1ctrl" output="screen">
		<!-- <remap from="~joy" to="/djiros/rc" /> -->
		<remap from="~odom" to="/odom" />
		<remap from="~imu" to="/djiros/imu" />
		<remap from="~cmd" to="/position_cmd" />

		<remap from="~desire_pose" to="/desire_pose" />
		<remap from="~ctrl_so3" to="/so3_cmd" />
		<remap from="~traj_start_trigger" to="/traj_start_trigger" />

		<rosparam command="load" file="$(find n1ctrl)/config/simulation.yaml" />
		<param name="work_mode" value="simulation" />
	</node>


	<node pkg="quadsim" type="quadsim_node" name="quad_sim" output="screen">
    	<param name="rate/odom" value="100.0"/>
    	<remap from="~odom" to="/odom"/>
    	<remap from="~cmd" to="/n1ctrl/ctrl_so3"/>
  	</node>

</launch>
