<launch>
	<node pkg="mocap_optitrack"
		type="mocap_node"
		name="mocap_node"
		respawn="false"
		launch-prefix=""
		output="screen"
		required="true">
		<rosparam file="$(find mocap_optitrack)/config/mocap.yaml" command="load" />
	</node>

	<node pkg="mocap_optitrack" type="mocap_optitrack_object_transform_node" name="mocap_object_transformer" output="screen">
		<remap from="~in_pose" to="/Robot_1/pose" />
		<remap from="~odom" to="/mocap/odom" />
	</node>

    <node pkg="poseekf" type="poseekf" name="poseekf" output="screen">
        <remap from="~imu" to="/djiros/imu"/>
        <remap from="~odom_slam" to="/mocap/odom"/>
        <rosparam file="$(find poseekf)/config/params.yaml"/>
    </node>

    <node pkg="odometry_assist" type="odometry_assist_node" name="odom_poseekf_vis" output="screen" >
        <rosparam command="load" file="$(find machine_defined)/config/odom_assist_ekf.yaml" />
        <remap from="~odom" to="/poseekf/odom" />
    </node>

</launch>
