<launch>
   	<node if="true" 
        pkg="naivo" type="naivo_node" name="naivo" output="log">
        <!-- <remap from="~points" to="/feature_sim/gt_points" /> -->
        <remap from="~points" to="/feature_tracker/points" />
        <remap from="~orientation" to="/fisheye_gimbal/cropped/orientation" />
   		<remap from="~depth" to="/sonar/height" />
        <remap from="~self_killing" to="/scale_estimator/init" />
        <rosparam>
            simulation: false
            pixel_noise: 0.0
            bRc: [0, 1, 0,  1, 0, 0, 0, 0, -1] # down-rotate-180
            # bRc: [0, -1, 0, -1, 0, 0, 0, 0, -1] # down
            # bRc: [0, 0, 1, -1, 0, 0, 0, -1, 0] # front
            no_eis: true
            verbose_ceres: false
        </rosparam>
 	</node>

   	<node if="true"
        pkg="odometry_assist" type="odometry_assist_node" name="naivo_vis" output="screen" >
        <remap from="~odom" to="/naivo/odom" />
        <rosparam>
            tf:
                enable: false
            velocity:
                enable: false
            path:
                enable: true
                decimation: 0 # no decimation when less than 1 
                max_history: -1.0 # infinite history when less than 0
            euler:
                enable: false
        </rosparam>
    </node>

    <group if="true">
        <node if="true" 
            pkg="naivo" type="scale_estimator" name="scale_estimator" output="screen">
            <remap from="~imu" to="/djiros/imu" />
            <remap from="~vision" to="/naivo/odom" />
            <remap from="~pointcloud" to="/naivo/pointcloud" />
            <remap from="~scaled_odom" to="/naivo/scaled_odom" />
        </node>
    </group>

    <node if="false" pkg="odometry_assist" type="odometry_assist_node" name="odom_quadukf_vis" output="screen" >
        <remap from="~odom" to="/quadukf/odom" />
        <rosparam>
            default:
                color:
                    r: 1.0
                    g: 0.0
                    b: 0.0
                    a: 0.0
                base_frame_id: "world"

            tf:
                enable: true
                # base_frame_id: "world" # can be omitted or overwrite default/base_frame_id
                body_frame_id: "ukfbody"
                intermediate_frame_id: "intermediate"
                intermediate_frame_enable: false
                base_alias_frame_id: "map"
                base_alias_frame_enable: false

            velocity:
                enable: true
                # color: # can be omitted or overwrite default/color
                #   r: 1.0
                #   g: 0.0
                #   b: 0.0
                #   a: 0.0

            path:
                enable: false
                decimation: 0 # no decimation when less than 1 
                max_history: -1.0 # infinite history when less than 0

            euler:
                enable: false
        </rosparam>
    </node>
    
    <group if="false">
        <node pkg="mocap_optitrack"
            type="mocap_node"
            name="mocap_node"
            respawn="false"
            launch-prefix=""
            output="screen"
            required="true">
            <rosparam file="$(find mocap_optitrack)/config/mocap.yaml" command="load" />
        </node>

        <node pkg="mocap_optitrack" type="mocap_optitrack_object_transform_node" name="mocap_object_transformer" output="screen">
            <remap from="~in_pose" to="/Robot_1/pose" />
            <remap from="~odom" to="/mocap/odom" />
        </node>
    </group>
		
</launch>
