<launch>
    <node pkg="djiros" type="djiros_node" name="djiros" output="screen">
		<!-- node parameters -->
		<param name="serial_name" type="string" value="/dev/ttyTHS1"/>
		<param name="baud_rate" type="int" value="230400"/>
		<param name="app_id" type="int" value="$(env DJIROS_APPID)"/>
		<param name="app_version" type="int" value="1"/>
		<param name="enc_key" type="string" value="$(env DJIROS_ENCKEY)"/>	
		<param name="only_broadcast" type="bool" value="false"/>
		<param name="align_with_fmu" type="bool" value="false"/>
	</node>

    <include if="false"
        file="$(find imu_3dm_gx4)/launch/imu.launch" >
        <arg name="imu_decimation" value="5" />
        <arg name="filter_decimation" value="2" />
        <arg name="enable_filter" default="true"/>
    </include>
    
    <node if="true" pkg="sonarros" type="maxsonar.py" name="maxsonar" output="screen">
        <param name="devname" type="string" value="/dev/ttyUSB0"/>
        <param name="baudrate" type="int" value="9600"/>
        <remap from="~height" to="/sonar/height" />
    </node>

    <node if="true"
    	pkg="bluefox2" type="bluefox2" name="bluefox2" output="screen">
        <param name="fps" type="double" value="30.0" />
        <param name="gain" type="double" value="5.0" />
        <param name="use_auto_exposure" type="bool" value="false" />
        <param name="cam_cnt" type="int" value="1" />
        <param name="seriala" type="string" value="25000681" />   
        <param name="exposure_time_usa" type="int" value="10000" />     
        <param name="serialb" type="string" value="25000709" />   
        <param name="exposure_time_usb" type="int" value="10000" />     
        <param name="serialc" type="string" value="25001161" />   
        <param name="exposure_time_usc" type="int" value="10000" />     
        <param name="pub_cnt" type="int" value="1" />   
        <param name="mask0" type="string" value="a" />
        <remap from="~a" to="~image" />
    </node> 
</launch>
